<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign Up</h3>

      <div class="formGroup">
        <input
          #userEmail
          class="formControl"
          placeholder="Email Address"
          required
          type="email"
        />
      </div>

      <div class="formGroup">
        <input
          #userPwd
          class="formControl"
          placeholder="Password"
          required
          type="password"
        />
      </div>

      <div class="formGroup">
        <input
          (click)="signUp(userEmail.value, userPwd.value)"
          *ngIf="!authService.isLoading; else loadingTemplate"
          class="btn btnPrimary"
          type="button"
          value="Sign Up"
        />
        <ng-template #loadingTemplate>
          <mat-progress-spinner class="ml" diameter="40" mode="indeterminate"
          ></mat-progress-spinner>
        </ng-template>
      </div>
    </div>

    <div class="redirectToLogin">
      <span
      >Already have an account?
        <span class="redirect" routerLink="/login">Log In</span></span
      >
    </div>
  </div>
</div>
